html {
    scroll-behavior: smooth;
}
body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    margin: 0;
}
.pj-website_bg-sets {
    flex-grow: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.pj-website__row-layer {
    display: flex;
}
.pj-website__row-size {
    width: 100%;
}
.pj-website__row-size_half {
    width: 50%;
}
.pj-website__row-size_quater {
    width: 25%;
}
.pj-website__row-size_color-white {
    background-color: #fff;
}
.pj-website__row-size_color-black {
    background-color: #000;
}
.pj-website__row-size_color-grey {
    background-color: #161616;
}
.pj-website__row-size_color-beige {
    background-color: #f0e2d7;
}
.pj-website__row-size_color-yellow {
    background-color: #e4ae58;
}
.pj-website__row-size_color-orange {
    background-color: #e9714c;
}
.pj-website__row-size_type-flex {
    display: flex;
}
.pj-website__bg-layer {
    display: flex;
    flex-grow: 1;
}
.pj-website-titles {
    color: #fff;
}
.pj-website-titles__title {
    font-size: 2.25em;
    font-weight: 300;
}
.pj-website-titles__subtitle {
    margin: 12px 0 36px;
    font-size: 1em;
}